@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { font-family: sans-serif;}

a { text-decoration: none; }

li { list-style: none;}

/* navbar one  */

header .search-box {
  padding-left: 24.2%;
  padding-right: 24.2%;
  padding-top: 26px;
}

/* form input {
  height: 30px;
  width: 175px;
} */

.search-box h1 {
  font-size: 2.5rem;
  font-weight: 100;
  position: relative;
  top: -5px;
  color: #fff;
}

.search-box {
  display: flex;
  justify-content: space-between;
}

/* form input::placeholder {
  padding-left: 10px;
  text-transform: capitalize;
} */

/* Style the search field */
form.example input[type=text] {
  padding: 8px;
  font-size: 11px;
  border: 1px solid grey;
  float: left;
  width: 175px;
  background: #fff;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 45px;
  padding: 8px;
  background: #2196F3;
  color: white;
  font-size: 11px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #369fe3;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.nav-links {
  display: flex;
  padding-left: 25.3%;
  margin-top: 1.8%;
  /* padding-top: 7px;
  padding-bottom: 7px; */
  background: #3b86c0;
 
  /* padding-right: 24.2%; */
  /* justify-content: center; */
  /* justify-content: center;
  align-items: center; */
}

.nav-links li a {
  display: inline-block;
  text-transform: capitalize;
  font-size: 0.8rem;
  color: #fff;
  padding-right: 23px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.banner {
  padding-top: 7.5%;
  padding-left: 24.2%;
}

header { background: #225fab;}

.banner h2 {
  font-size: 2.2rem;
  font-weight: 100;
  color: #fff;
}

.banner p {
  padding-top: 6px;
  padding-bottom: 10%;
  /* text-transform: capitalize; */
  font-size: 1.6rem;
  font-weight: 100;
  max-width: 45%;
  color: #62c7f4;
}



.details {
  padding-left: 24.2%;
  padding-top: 26px;
}

.form-group {
  padding-bottom: 18px;
}

.small {
  font-size: 0.7rem;
}

.bold { font-weight: bold;}

.big-pg { 
  font-size: 1.7rem;
  font-weight: 100;
  padding-top: 20px;
  color: #3b86c0;
}

label {
  font-size: 0.7rem;
  padding-bottom: 10px;
  display: inline-block;
}

.details input[type="text"], .details input[type="email"] {
  width: 217px;
  height: 30px;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  /* padding-top: 5px; */
}

.policy a {
  font-size: 0.7rem;
  color: #62c7f4;
}

.check p {
  padding-bottom: 23px;
  max-width: 67%;
  line-height: 1.6;
}

.btn {
  border: none;
  padding: 8px 48px;
  color: #fff;
  background: #3b86c0;
  border-radius: 2.5px;
  cursor: pointer;
}

.details { margin-bottom: 10%; }

/* footer section styling */

.footer-content { padding-left: 24.2%;}

.footer-content {
  display: flex;
}

.footer-heading {
  padding-right: 8%;
}

.footer-heading h2 {
  font-size: 2.1rem;
  font-weight: 100;
  position: relative;
  padding-bottom: 5px;
  letter-spacing: -3px;
 
}

.footer-heading h2::after {
  content: "";
  display: block;
  width: 115%;
  height: 2px;
  background: #3b86c0;
  position: absolute;
  /* left: 47%; */
  bottom: 0;
}

.footer-heading p {
  font-size: 0.7rem;
  padding-top: 8px;
}

.footer-content span {
  font-size: 0.8;
  text-transform: capitalize;
  font-weight: bold;
  word-spacing: -2px;
  letter-spacing: 1px;
}

.footer-links {
  padding-right: 10%;
}

.footer-links p {
  padding-bottom: 9px;
  font-size: 1.2rem;
  font-weight: normal;
}

.footer-links a {
  font-size: 0.72rem;
}

.social p {
  font-size: 1.1rem;
  font-weight: normal;
}

.social-media {
  display: flex;
}
/* .footer-content > * {
  flex-basis: 100%;
} */